<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Patient Login</title>
  <link rel="stylesheet" href="../css_files/patient_login.css" />
</head>
<body>
  <h2>Enter Your Details</h2>
  <input type="text" id="name" name="username" placeholder="Enter your name" />
<input type="text" id="phone" name="password" placeholder="Enter your phone number" />
  <button id="verifyBtn">Verify</button>
  <div id="result"></div>

<script src="../js_files/patient_login.js"></script>
</body>
</html>
